<h1>Upload de Arquivo XML</h1>
<div class="form-upload-container">
  <%= form_with(model: @document, local: true, html: { multipart: true }) do |form| %>
    <div class="form-group">
      <%= form.label :file, 'Selecione o arquivo XML' %>
      <%= form.file_field :file, class: 'form-control' %>
    </div>
    <%= form.submit 'Enviar', class: 'btn btn-primary' %>
  <% end %>
</div>
