<h1>Upload de Arquivo XML</h1>
<%= form_with(model: @document, local: true, html: { multipart: true }) do |form| %>
  <%= form.file_field :file %>
  <%= form.submit 'Enviar' %>
<% end %>

<%= link_to 'Listar Documentos', reports_path, class: 'btn btn-primary' %>
